# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Model Weights
*.pth
*.h5
*.keras

# Database
database/predictions.db

# IDEs
.idea/
.vscode/
.ipynb_checkpoints/

# Environments
env/
venv/
ENV/

# Output images & cache
.dist/
